<h1>Ngx Typed 2</h1>
<p>ngx-typed2 is an Angular library designed to seamlessly integrate Typed.js functionalities into Angular applications, compatible with both Single Page Applications (SPA) and Server-Side Rendering (SSR)</p>
<div>
  <ngx-typed2 [strings]="strings1"></ngx-typed2>
</div>

<div>
  <ngx-typed2 [strings]="strings2" [ngClass]="'typing'"></ngx-typed2>
</div>

<div>
  <p>
    <span>Ncx Typed - </span>
    <ngx-typed2 [strings]="strings3" [cursorColor]="'red'"></ngx-typed2>
  </p>
</div>
